<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ALTTPRCropDashboard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ALTTPRCropDashboard.My.MySettings>
            <setting name="LeftTimerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftGameName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultCropTop" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="DefaultCropBottom" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="RightGameName" serializeAs="String">
                <value />
            </setting>
            <setting name="RightTimerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString1" serializeAs="String">
                <value>ws://127.0.0.1:4444</value>
            </setting>
            <setting name="ConnectionString2" serializeAs="String">
                <value>ws://127.0.0.1:4443</value>
            </setting>
            <setting name="Password1" serializeAs="String">
                <value />
            </setting>
            <setting name="Password2" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftRunnerOBS" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftTrackerOBS" serializeAs="String">
                <value />
            </setting>
            <setting name="RightRunnerOBS" serializeAs="String">
                <value />
            </setting>
            <setting name="RightTrackerOBS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommentaryOBS" serializeAs="String">
                <value />
            </setting>
            <setting name="VLCMenuBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VLCPlayPauseControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VLCStatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VLCOverrideDefault" serializeAs="String">
                <value>False</value>
            </setting>
        </ALTTPRCropDashboard.My.MySettings>
    </userSettings>
  <appSettings file="appSettingSecrets.config">
    <add key="ServerURL" value=""/>
  </appSettings>
</configuration>