<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ALTTPRCropDashboard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
     <add name="DefaultContext" connectionString="Data Source=DB\Crop.db;Version=3;BinaryGUID=False" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <userSettings>
    <ALTTPRCropDashboard.My.MySettings>
      <setting name="LeftTimerName" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftGameName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCropTop" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="DefaultCropBottom" serializeAs="String">
        <value>53</value>
      </setting>
      <setting name="RightGameName" serializeAs="String">
        <value />
      </setting>
      <setting name="RightTimerName" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString1" serializeAs="String">
        <value>ws://127.0.0.1</value>
      </setting>
      <setting name="ConnectionString2" serializeAs="String">
        <value>ws://127.0.0.1</value>
      </setting>
      <setting name="Password1" serializeAs="String">
        <value />
      </setting>
      <setting name="Password2" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftRunnerOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftTrackerOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="RightRunnerOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="RightTrackerOBS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CommentaryOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="VLCMenuBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VLCPlayPauseControls" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VLCStatusBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VLCOverrideDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasFinishedWelcome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectionPort1" serializeAs="String">
        <value>4444</value>
      </setting>
      <setting name="ConnectionPort2" serializeAs="String">
        <value>4443</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpertMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StreamlinkPath" serializeAs="String">
        <value>%LOCALAPPDATA%\Streamlink\bin\streamlink.exe</value>
      </setting>
      <setting name="LeftStreamlinkVlcParams" serializeAs="String">
        <value />
      </setting>
      <setting name="RightStreamlinkVlcParams" serializeAs="String">
        <value />
      </setting>
      <setting name="GameSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultHeight" serializeAs="String">
        <value>610</value>
      </setting>
      <setting name="DefaultWidth" serializeAs="String">
        <value>863</value>
      </setting>
      <setting name="FourRacerHeight" serializeAs="String">
        <value>610</value>
      </setting>
      <setting name="FourRacerWidth" serializeAs="String">
        <value>1523</value>
      </setting>
      <setting name="DefaultGBHeight" serializeAs="String">
        <value>112</value>
      </setting>
      <setting name="DefaultGBWidth" serializeAs="String">
        <value>658</value>
      </setting>
      <setting name="FourRacerGBHeight" serializeAs="String">
        <value>112</value>
      </setting>
      <setting name="FourRacerGBWidth" serializeAs="String">
        <value>1327</value>
      </setting>
      <setting name="FourPlayers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeftTimerName_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftGameName_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="RightGameName_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="RightTimerName_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftRunnerOBS_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="RightRunnerOBS_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftTrackerOBS_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="RightTrackerOBS_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftStreamlinkVlcParams_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="RightStreamlinkVlcParams_Bottom" serializeAs="String">
        <value />
      </setting>
      <setting name="BoundingSizeWidthGameTwoPlayer" serializeAs="String">
        <value>558</value>
      </setting>
      <setting name="BoundingSizeHeightGameTwoPlayer" serializeAs="String">
        <value>446</value>
      </setting>
      <setting name="BoundingSizeWidthTimerTwoPlayer" serializeAs="String">
        <value>178</value>
      </setting>
      <setting name="BoundingSizeHeightTimerTwoPlayer" serializeAs="String">
        <value>47</value>
      </setting>
      <setting name="BoundingSizeWidthGameFourPlayer" serializeAs="String">
        <value>383</value>
      </setting>
      <setting name="BoundingSizeHeightGameFourPlayer" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="BoundingSizeWidthTimerFourPlayer" serializeAs="String">
        <value>119</value>
      </setting>
      <setting name="BoundingSizeHeightTimerFourPlayer" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="PositionXTimerTopRightFourPlayer" serializeAs="String">
        <value>1116</value>
      </setting>
      <setting name="PositionYTimerTopRightFourPlayer" serializeAs="String">
        <value>51</value>
      </setting>
      <setting name="PositionXTimerBottomRightFourPlayer" serializeAs="String">
        <value>1116</value>
      </setting>
      <setting name="PositionYTimerBottomRightFourPlayer" serializeAs="String">
        <value>410</value>
      </setting>
      <setting name="PositionXTimerTopLeftFourPlayer" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="PositionYTimerTopLeftFourPlayer" serializeAs="String">
        <value>52</value>
      </setting>
      <setting name="PositionXTimerBottomLeftFourPlayer" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="PositionYTimerBottomLeftFourPlayer" serializeAs="String">
        <value>410</value>
      </setting>
      <setting name="PositionXGameTopRightFourPlayer" serializeAs="String">
        <value>676</value>
      </setting>
      <setting name="PositionYGameTopRightFourPlayer" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PositionXGameBottomRightFourPlayer" serializeAs="String">
        <value>676</value>
      </setting>
      <setting name="PositionYGameBottomRightFourPlayer" serializeAs="String">
        <value>368</value>
      </setting>
      <setting name="PositionXGameTopLeftFourPlayer" serializeAs="String">
        <value>220</value>
      </setting>
      <setting name="PositionYGameTopLeftFourPlayer" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PositionXGameBottomLeftFourPlayer" serializeAs="String">
        <value>220</value>
      </setting>
      <setting name="PositionYGameBottomLeftFourPlayer" serializeAs="String">
        <value>368</value>
      </setting>
      <setting name="PositionXTimerRightTwoPlayer" serializeAs="String">
        <value>1046</value>
      </setting>
      <setting name="PositionYTimerRightTwoPlayer" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="PositionXTimerLeftTwoPlayer" serializeAs="String">
        <value>56</value>
      </setting>
      <setting name="PositionYTimerLeftTwoPlayer" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="PositionXGameRightTwoPlayer" serializeAs="String">
        <value>674</value>
      </setting>
      <setting name="PositionYGameRightTwoPlayer" serializeAs="String">
        <value>83</value>
      </setting>
      <setting name="PositionXGameLeftTwoPlayer" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="PositionYGameLeftTwoPlayer" serializeAs="String">
        <value>83</value>
      </setting>
    </ALTTPRCropDashboard.My.MySettings>
  </userSettings>
  <appSettings file="appSettingSecrets.config">
    <add key="ServerURL" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="SQLite Data Provider" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
