<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ALTTPRCropDashboard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultContext" connectionString="Data Source=DB\Crop.db;Version=3;BinaryGUID=False" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <userSettings>
    <ALTTPRCropDashboard.My.MySettings>
      <setting name="LeftTimerName" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftGameName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCropTop" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="DefaultCropBottom" serializeAs="String">
        <value>53</value>
      </setting>
      <setting name="RightGameName" serializeAs="String">
        <value />
      </setting>
      <setting name="RightTimerName" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString1" serializeAs="String">
        <value>ws://127.0.0.1:4444</value>
      </setting>
      <setting name="ConnectionString2" serializeAs="String">
        <value>ws://127.0.0.1:4443</value>
      </setting>
      <setting name="Password1" serializeAs="String">
        <value />
      </setting>
      <setting name="Password2" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftRunnerOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftTrackerOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="RightRunnerOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="RightTrackerOBS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CommentaryOBS" serializeAs="String">
        <value />
      </setting>
      <setting name="VLCMenuBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VLCPlayPauseControls" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VLCStatusBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VLCOverrideDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasFinishedWelcome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultConnection" serializeAs="String">
        <value>True</value>
      </setting>
    </ALTTPRCropDashboard.My.MySettings>
  </userSettings>
  <appSettings file="appSettingSecrets.config">
    <add key="ServerURL" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="SQLite Data Provider" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>